<div class="info">
  <div class="avatar">
    <img src="https://pbs.twimg.com/profile_images/727534591116976128/VOyi6H08_bigger.jpg" >
  </div>
  <ul class="cards">
    <li class="lib">{{library}}</li>
    {{#if hand.length}}
      <li class="hand">{{hand.length}}</li>
    {{else}}
      <li class="hand">{{hand}}</li>
    {{/if}}
    <li class="grave">{{graveyard.length}}</li>  
  </ul>
  <ul class="pool">
    <li class="white"><i class="ms ms-w ms-cost"></i></li>
    <li class="blue"><i class="ms ms-u ms-cost"></i></li>
    <li class="black"><i class="ms ms-b ms-cost"></i></li>
    <li class="red"><i class="ms ms-r ms-cost"></i></li>
    <li class="green"><i class="ms ms-g ms-cost"></i></li>
    <li class="colorless"><i class="ms ms-c ms-cost"></i></li>
  </ul>
</div>
<div class="graveyard">
</div>